:root {
	--largeDesktop: 1350px;
	--smallDesktop: 1200px;
	--desktop: 1024px;
	--navBreak: 901px;
	--block: 782px;
	--tablet: 768px;
	--mobile: 600px;
	--smallMobile: 480px;

	--gutter: 25px;
	--container: 1300px;

	--assetPath: "../../assets/images";

	--color-primary: #e63946; /* Vibrant red for primary accents */
	--color-secondary: #457b9d; /* Muted blue for secondary elements */
	--color-tertiary: #2a9d8f; /* Teal green for tertiary highlights */
	--color-4: #a8dadc; /* Light aqua for subtle backgrounds or highlights */
	--color-5: #f1faee; /* Soft white for main backgrounds */
	--color-6: #1d3557; /* Deep navy blue for headers or footers */
	--color-7: #c4c4c4; /* Neutral gray for borders or inactive states */
	--color-8: #edf6f9; /* Ultra-light blue for light backgrounds */
	--text-color: #2b2d42; /* Rich dark gray for main text color */



	// Font Family
	--font-family--1: "Arial", sans-serif;
	--font-family--2: "Arial", sans-serif;
}

@keyframes wiggle {
	0% {
			transform: rotate(10deg);
	}
	25% {
			transform: rotate(-10deg);
	}
	50% {
			transform: rotate(10deg);
	}
	75% {
			transform: rotate(-10deg);
	}
	100% {
			transform: rotate(10deg);
	}
}

$colorPrimary: var(--color-primary);
$colorSecondary: var(--color-secondary);
$colorTertiary: var(--color-tertiary);
$color4: var(--color-4);
$color5: var(--color-5);
$color6: var(--color-6);
$color7: var(--color-7);
$color8: var(--color-8);
$textColor: var(--text-color);
$white: #fff;
$black: #000;

$buttonHover: #CC5B3D;
$buttonHover2: #FFF8F6;
$buttonHover3: #2576B7;
$buttonHover4: #F4F9FD;

// Fonts
$font1: var(--font-family--1);
$font2: var(--font-family--2);


$gutter: 25px;
$container: 1320px;
$containerSmall: 914px;
$blockGap: var(--block-gap);
$headerHeight: 95px;


//  Breakpoints
$largeDesktop: 1350px;
$smallDesktop: 1220px;
$desktop: 1024px;
$navBreak: 1064px;
$block: 782px;
$tablet: 768px;
$mobile: 600px;
$smallMobile: 480px;